@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ojuju:wght@200..800&display=swap');
 
body {
  margin: 0;
}

.main_container {
  font-family: 'Lato', sans-serif;
  margin: 0;
  cursor: default;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main_content { 
  display: flex;
  flex-grow: 1;
}

.title_and_image {
  min-width: 50%;
  width: 50%;
  padding-bottom: 200px;
  box-sizing: border-box;
  margin: 0;

}

.title_container {
  padding-top: 35px;
  padding-left: 21.5%;
  display: flex;
  justify-content:left;
  font-size: 56px;
  word-spacing: 3px;
  line-height: 58px;
}


.title_text {
  color:#00BDD4;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.image {
  justify-content:center;
  padding-left: 40px;
  width: 67%;
  height: auto;
}

.image_container {
  display: flex;
  justify-content: center;
  padding-top: 0px;
}


.components_list {
  width: 50%;
  min-width: 50%;
  padding-top: 100px;
  padding-bottom: 110px;
  box-sizing: border-box;
  padding-left: 37px;
}
.description_paragraph-character-details {
  width: 80%;
  text-align: center;
}

.character_name-character-details {
  display: block;
  color:#00BDD4;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-top: 19px;
  margin-bottom: 85px;
}

.name_paragraph {
  display: flex;
  width: 80%;
  justify-content:center;
  text-align: center;
}

.components_list > div:nth-child(2n+1){
  color: #00BDD4;
}

.components_list > div:nth-child(2n+2){
  color: #DAED49;
}

.components_container {
  width: 50%;
  min-width: 50%;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .main_content { 
    display: block;
  }

  .title_and_image {
    width: auto;
    padding-bottom: 0px;
  }

  .title_container {
    padding-top: 0px;
    line-height: 10.7vw;
    padding-left: 25px;
  }

  .title_text {
    line-height: 44px;
    font-weight: 700;
    letter-spacing: -0.5px;
  }

  .description_paragraph-characters {
    margin-top:22px;
    margin-bottom: 35px;
    font-size: 9.2vw;
  }

  .description_paragraph-episode {
    margin-top: 36px;
    margin-bottom: 35px;
    font-size: 9.2vw;
  }

  .image {
    padding-left: 0px;
    width: 77.5%;
  }

  .components_list {
    width: auto;
    padding-top: 84px;
    padding-bottom: 48px;
    box-sizing: border-box;
    padding-left: 24px;
    overflow-x: hidden;
  }

  .components_container {
    width: auto;
  }

  .line {
    display: block;
    border-bottom: 2px solid #D1D1D1;
    width: 88%;
  }

  .line-characters {
    display: block;
    border-bottom: 2px solid #D1D1D1;
    width: 88%;
    margin-bottom: 4px;
    margin-top: 4px;
  }

  .character_name-character-details {
    display: block;
    color:#00BDD4;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: -0.5px;
    padding-right: 25px;
    margin-top: 0px;
    margin-bottom: 9.7vw;
  }

  .description_paragraph-character-details {
    margin-top: 18px;
    margin-bottom: 0px;
    padding-bottom: 0;
    font-size: 9.3vw;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .image_container {
    display: flex;
    justify-content: center;
    padding-top: 0px;
  }
  
}
