@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ojuju:wght@200..800&display=swap');
 
body {
  margin: 0;
}

.main_container {
  font-family: 'Lato', sans-serif;
  margin: 0;
  cursor: default;
}

.main_content { 
  display: flex;
}

.title_and_image {
  min-width: 50%;
  width: 50%;
  padding-bottom: 200px;
  box-sizing: border-box;
  margin: 0;

}

.title_container {
  padding-top: 35px;
  padding-left: 157px;
  display: flex;
  justify-content:left;
  font-size: 56px;
  word-spacing: 3px;
  line-height: 58px;
}


.title_text {
  color:#00BDD4;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.image {
  justify-content:center;
  padding-left: 40px;
  width: 67%;
  height: auto;
}

.image_container {
  display: flex;
  justify-content: center;
  padding-top: 0px;
}


.components_list {
  width: 50%;
  min-width: 50%;
  padding-top: 100px;
  padding-bottom: 110px;
  box-sizing: border-box;
  padding-left: 37px;
}


.character_name_character_details {
  display: block;
  color:#00BDD4;
  line-height: 72px;
  font-weight: 700;
  letter-spacing: -0.5px;
  margin-top: 19px;
  margin-bottom: 85px;
}

.name_paragraph {
  display: flex;
  width: 80%;
  justify-content:center;
  text-align: center;
}

