@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ojuju:wght@200..800&display=swap');

.footer {
    display: flex;
    background-color: #464646;
    width: auto;
    height: 67px;
    justify-content: center;
    align-items: center;
}

.footer_text {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 700;
    color: #cccccc;
    padding-bottom: 10px;
    padding-left: 20px;

}
