@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ojuju:wght@200..800&display=swap');

.button_container {
    background-color: #80dee9;
    width: min-content;
    margin-top: 24px;
    margin-left: 40px;
    border-radius: 8px;
    color: black;
    position: absolute;
}

.button_container:hover {
    background-color: #00b0c8;
}

.button_container:active {
    text-decoration: none;
    color: inherit;
}

.button_text {
    font-family: 'Lato', sans-serif;
    font-size: 24px;
    font-weight: 500;
}

.back_arrow_ico {
    font-size: 20px;
    padding: 3px;
}

.button_link {
    text-decoration: none;
}

.link_wrapper {
    display: flex;
    justify-items: center;
    align-items: center;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    color: #000;
}
